In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [5]:
def connection_setter(host_name, user_name, password):
    connection=None
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=password)
        print('mysql connection was successful')
    except: 
        print(f'error: {Error}')
    return connection

In [8]:
def database_creator(connection, query):
    cursor=conncetion.cursor
    try:
        cursor.execute(query)
        cursor.commit()
        print('database was successfully created')
    except:
        print(f'error:{Error}')
    finally:
        cursor.close()

In [12]:
def query_reader(conncetion, query):
    cursor=connection.cursor
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except:
        print(f'Error: {Error}')
    finally:
        cursor.close()

In [13]:
print(-30//4)

-8

In [15]:
print(30%4)

2

In [18]:
parrot = "Norwegian Blue"
print(parrot[-12:0])

In [25]:
empty=''
print(empty[0])

IndexError: string index out of range

In [26]:
name=input('Please enter your name')
age=int(input('Please enter your age {}'.format(name)))
if 18<age<31:
    print('you are going on a holiday')
else:
    print("Sorry to disappoint you")

Please enter your nameshiva
Please enter your age shiva34
Sorry to disappoint you

In [29]:
numeric_check='232'.isnumeric() # output: True
print(numeric_check)

True

In [36]:
numbers=input('please enter the numbers for the use case and see the magic with separators in it: ')
separators=''
for num in numbers:
    if not num.isnumeric():
        separators=separators+num
print(separators)

values=''.join(num if num not in separators else ' ' for num in numbers).split()
print([int(val) for val in values])

please enter the numbers for the use case and see the magic with separators in it: 1,1213,424,345353453243
,,,
[1, 1213, 424, 345353453243]