In [1]:
# print hello world
print("Hello World!")

Hello World!

In [2]:
# Print function usage
print(1+2)
print(7*2)
print(8//2)
print("is this the end","        or not")

3
14
4
is this the end         or not

In [3]:
# Concatenation in strings and printing "" or '' in text
print("shiva is a 'superhero'")

# String Concatenation
print("shiva"+' '+ "yadav")

first_name= input("Enter your first Name Please ")
last_name= input ("Enter your last Name please ")

User_name=print(first_name+' '+last_name)

shiva is a 'superhero'
shiva yadav
Enter your first Name Please Shiva
Enter your last Name please Yadav
Shiva Yadav

In [4]:
# Splitted String
splitted_string= "this string\n is spllited\n over \n serveral \n lines"
print(splitted_string)

# Tabbed_string
tabbed_string= "1\t 2\t3"
print(tabbed_string)

# to print '' or "" in text using escape characters(To insert characters that are illegal in geeneral in a string)
print(" hello bhaiya \"yadav ji\"")
print(" hello bhaiya \'sahu ji\'")

# best way is to use """""" (triple quotes)
print(""" kya hi "ker rahe" ho 'yadav' "ji" """)

splitted_stringg="""kya
ker
rahe
ho"""
print(splitted_stringg)

# to print above text in single line use \
splitted_stringgs = """kya\
 ker\
 rahe\
 ho"""
print(splitted_stringgs)

this string
 is spllited
 over
 serveral
 lines
1	 2	3
 hello bhaiya "yadav ji"
 hello bhaiya 'sahu ji'
 kya hi "ker rahe" ho 'yadav' "ji"
kya
ker
rahe
ho
kya ker rahe ho

In [5]:
# Note # Using Unicode escape sequence
print("\u03B1")  # This will print the Greek letter "α" (alpha)

# Using the actual character directly
print("α")

## Printing slash in python

print("c:\tim\nobita")

print("c\\tim\\nobita")
print(r"c\tim\nobita")  # raw string is used to enter the backslash

α
α
c:	im
obita
c\tim\nobita
c\tim\nobita

In [6]:
# string assignment as strings are immutable
string='shiva'
a=string.replace('i','u')
b=string.replace(string[2],'u')
print(a)
print(b)
print(string)

shuva
shuva
shiva

In [7]:
# Type of variable

string='shiva'
xyz=23
print(type(string))
print(type(xyz))
xyz='mukesh'
print(type(xyz))
list_1=[2,3]
dictionary_1={1:['a','b']}
print(type(list_1))
print(type(dictionary_1))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [8]:
# Python is strongly typed language
#TypeError: can only concatenate str (not "int") to str

a='shiva'
b=23
# print(a+b) it will produce error

In [9]:
# Numeric Operators in python
a=13   # here 13 is an expression but a is not an expression
b=3
print(a+b) # here a+b is called as expression
print(a-b)
print(a*b)  # multiplication return integer if a and b are integer type
print(a/b) # the division gives float as an output
print(a//b)# integer division returns a intger value( rounded towards minus infinity)
print(-a//b)#---------------------note this-------------kam wali value deta hai
print(a%b)  # 0 modulo: it returns the remainder after division

# for i in range(1,a/b): # it will produce errors (TypeError: 'float' object cannot be interpreted as an integer)
#     print(i)
print("-"*50)    
for i in range(1,a//b): 
    print(i)

16
10
39
4.333333333333333
4
-5
1
--------------------------------------------------
1
2
3

In [10]:
# operator precedence BODMAS( note that division & multiplication, addition and subtraction have same precedence)
# expression with equal precedence are evaluated from left to right
# paranthesis can be used to set orders

a=12
b=3
print(a/(b*a)/b) # here b*a--> a/b*a --> result /b

0.1111111111111111

In [11]:
parrot = "Norwegian Blue"
print(parrot[3])
print(parrot[4])
print(parrot[9])

print(parrot[3])
print(parrot[6])
print(parrot[8])

# Negative string indexing 
print("-"*50) 
print(parrot[-4])
print(parrot[-3])
print(parrot[-2])
print(parrot[-1])

w
e

w
i
n
--------------------------------------------------
B
l
u
e

In [12]:
# String slicing  
# Slicing [start : stop : step]
parrot = "Norwegian Blue"
print("-"*50) 
print(parrot[10:14]) # default step size is one
print(parrot[10:])  # default stop is end of the index

print(parrot[:])  # if nothing is mentioned complete indexes gets printed
print(parrot[:9]) # default start is 0

print("-"*50) 
print(parrot[0:9:2]) # one index is skipped here

# string concatenation with slicing 
print("-"*50) 
print(parrot[:6] + parrot[6:])

# Using Negative Indexing 
print("-"*50) 
print(parrot[-14:0])
print('8'*80)
print(parrot[-1:-8])  # *****this won't work as its always from left to right********
print(parrot[:-1]) # note here last character won't be printed
print("-"*50)

--------------------------------------------------
Blue
Blue
Norwegian Blue
Norwegian
--------------------------------------------------
Nrein
--------------------------------------------------
Norwegian Blue
--------------------------------------------------

88888888888888888888888888888888888888888888888888888888888888888888888888888888

Norwegian Blu
--------------------------------------------------

In [13]:
# note both will produce the same result(we can mix negative and positive slicing )
print(parrot[-4:12])
print(parrot[-4:-2])

# slicing example
print("-"*50) 
a="2,321,433,343,343"
print(a[1::4])

print("-"*50) 
number = "2,321;433:343'343"
separators = number[1::4]
values = ''.join(char if char not in separators else " " for char in number).split() # join to give 2 321 433 343 343
# while split is used to split string( values) on the basis of white space by default
print([int(val) for val in values])

Bl
Bl
--------------------------------------------------
,,,,
--------------------------------------------------
[2, 321, 433, 343, 343]

In [14]:
# Reversing the sequence using negative step value
letters= 'abcdefghijklmnopqrstuvwxyz'
print(letters[25:0:-1]) # it will reverse the sequence but wont include the letter a 
print("-"*50) 
print(letters[25::-1])  # a gets included , can't use -1 as stop value here
print("-"*50) 

## python IDIOM
print(letters[::-1]) # reverse the sequence

print("-"*50) 
empty=''
print(empty[:1])
# print(empty[0]) # it will produce error [IndexError]`

zyxwvutsrqponmlkjihgfedcb
--------------------------------------------------
zyxwvutsrqponmlkjihgfedcba
--------------------------------------------------
zyxwvutsrqponmlkjihgfedcba
--------------------------------------------------

In [3]:
# Sequence operators
today='friday '
print(today*5)
print("-"*50) 
# print(today*5+4)    # this will produce error as strings and numbers can't be added
print(today*5 +"4")   # this will add 4 at the end

print('-'*50)

# checking substring presence in string

print('day' in today)     # True
print("fri" in today)     # True
print("hey" in today)     # False

friday friday friday friday friday
--------------------------------------------------
friday friday friday friday friday 4
--------------------------------------------------
True
True
False

In [16]:
# String replacement fields({} is the symbol)
# {field value: field width .  precision with f in it}
age =24
print("my age is " + str(age) + " old")

print("my age is {0}, and my father's is {2}, while my mothers age is {1}".format(23,44,55))
print("""
jan:{0}
feb:{1}
mar:{3}
apr:{2}
""".format(31,28,30,31))

print("-"*50)
print("my age is {} and i live in {}".format(24,"london")) # here we haven't given the field number

my age is 24 old
my age is 23, and my father's is 55, while my mothers age is 44

jan:31
feb:28
mar:31
apr:30

--------------------------------------------------
my age is 24 and i live in london

In [5]:
# String Formatting ( supports both name and index formating )
# name formatting is displayed in f-string examples not here
for i in range(1,13):
    print(' the no. is {0} and its square is {1} and its  cube is {2} '.format(i,i**2,i**3))


# printing above code in a beautiful manner
print("-"*50)    
for i in range(1,13):
    print('the no. is {0:2} and its square is {1:3} and its cube is {2:4}'.format(i,i**2,i**3)) 
    # {0:2} here 0 shows index while 2(field width) shows space reserved for values 

# # for left allignement    
# print("-"*50)    
# for i in range(1,13):
#     print('the no. is {0:<2} and its square is {1:<3} and its cube is {2:<4}'.format(i,i**2,i**3)) 

# # for center allignement use carrot^    
# print("-"*50)    
# for i in range(1,13):
#     print('the no. is {0:2} and its square is {1:^3} and its cube is {2:^4}'.format(i,i**2,i**3))

 the no. is 1 and its square is 1 and its  cube is 1
 the no. is 2 and its square is 4 and its  cube is 8
 the no. is 3 and its square is 9 and its  cube is 27
 the no. is 4 and its square is 16 and its  cube is 64
 the no. is 5 and its square is 25 and its  cube is 125
 the no. is 6 and its square is 36 and its  cube is 216
 the no. is 7 and its square is 49 and its  cube is 343
 the no. is 8 and its square is 64 and its  cube is 512
 the no. is 9 and its square is 81 and its  cube is 729
 the no. is 10 and its square is 100 and its  cube is 1000
 the no. is 11 and its square is 121 and its  cube is 1331
 the no. is 12 and its square is 144 and its  cube is 1728
--------------------------------------------------
the no. is  1 and its square is   1 and its cube is    1
the no. is  2 and its square is   4 and its cube is    8
the no. is  3 and its square is   9 and its cube is   27
the no. is  4 and its square is  16 and its cube is   64
the no. is  5 and its square is  25 and its cube is  125
the no. is  6 and its square is  36 and its cube is  216
the no. is  7 and its square is  49 and its cube is  343
the no. is  8 and its square is  64 and its cube is  512
the no. is  9 and its square is  81 and its cube is  729
the no. is 10 and its square is 100 and its cube is 1000
the no. is 11 and its square is 121 and its cube is 1331
the no. is 12 and its square is 144 and its cube is 1728
--------------------------------------------------
the no. is 1  and its square is 1   and its cube is 1
the no. is 2  and its square is 4   and its cube is 8
the no. is 3  and its square is 9   and its cube is 27
the no. is 4  and its square is 16  and its cube is 64
the no. is 5  and its square is 25  and its cube is 125
the no. is 6  and its square is 36  and its cube is 216
the no. is 7  and its square is 49  and its cube is 343
the no. is 8  and its square is 64  and its cube is 512
the no. is 9  and its square is 81  and its cube is 729
the no. is 10 and its square is 100 and its cube is 1000
the no. is 11 and its square is 121 and its cube is 1331
the no. is 12 and its square is 144 and its cube is 1728

In [8]:
# floating point value
print("pi is approximately {0:12}".format(22/7))   # default is 15 values after the decimal
print("pi is approximately {0:12f}".format(22/7)) # when f is used 6 values gets printed after the decimal
print("pi is approximately {0:12.50f}".format(22/7)) #priority given to precision instead of field width (50f supersedes 12)

print(50*"-")

# In python precision lies bw 51f and 53f

print("pi is approximately {0:<72.54f}".format(22/7))# just zeros are added here after 51
print("pi is approximately {0:<72.60f}".format(22/7))

pi is approximately 3.142857142857143
pi is approximately     3.142857
pi is approximately 3.14285714285714279370154144999105483293533325195312
--------------------------------------------------
pi is approximately 3.142857142857142793701541449991054832935333251953125000
pi is approximately 3.142857142857142793701541449991054832935333251953125000000000

In [11]:
# Python 3.6 introduced f-string concept or formatted string 
# here instead of format you use f-string 
# in f string you can directly add expression and variables names directly(name formatting) without using indexing
name='shiva'
age=24
print(f"my name is {name} and my age is {age}")
print(f"value of pi is {22/7:12.50f}")

my name is shiva and my age is 24
value of pi is 3.14285714285714279370154144999105483293533325195312